.cartHeader {
  margin: 30px 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.itemsList {
  margin: 0px 10px 0px 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.itemsList h2 {
  text-align: center;
}

.cartButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

/* Common button styles */
.cartButton {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Specific styles for "Clear Cart" button */
.clearCartButton {
  background-color: #e53935;
}

.clearCartButton:hover {
  background-color: #d32f2f;
}

/* Specific styles for "Kup" button */
.buyButton {
  background-color: #539d46;
}

.buyButton:hover {
  background-color: #45a049;
}
