.shopHeader {
  margin: 30px 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0px 10px 0px 10px;
}

.productsContainer h1 {
  margin: 15px;
}
